<%= form_with(model: list_item, local: true) do |form| %>
  <% if list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list_item.errors.count, "error") %> prohibited this list_item from being saved:</h2>

      <ul>
      <% list_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item, id: :list_item_item %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details, id: :list_item_details %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline, id: :list_item_deadline %>
  </div>

  <div class="field">
    <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed, id: :list_item_completed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
