<p id="notice"><%= notice %></p>

<div class="container">
  <h1>To Do List</h1>

  <table class="table">
    <thead>
      <tr>
        <th class="col-md-3">Item</th>
        <th class="col-md-3">Deadline</th>
        <th class="col-md-3">Completed</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @list_items.each do |list_item| %>
           <% if list_item.deadline < DateTime.now %>
              <tr class="red">
           <% else %>
              <tr>
           <% end %>
         
              <td><%= list_item.item %></td>
              <td><%= list_item.deadline %></td>
              <td><%= list_item.completed %></td>
              <td class="col-md-1">
              <%= link_to 'Show', list_item %> <%= link_to 'Edit', edit_list_item_path(list_item)%>
              </td>
              <td>  
              <%= link_to 'Destroy', list_item, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>

              </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "New List Item", new_list_item_path, class: "btn btn-sm btn-primary" %>

</div>

<div class="float-right">

  <span class="pull-right"><%= link_to "@belozi", 'http://belozi.com' %></span>

</div>
