<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @list_item.item %>
</p>

<p>
  <strong>Details:</strong>
  <%= @list_item.details %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @list_item.deadline %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @list_item.completed %>
</p>

<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'To Do List', list_items_path %>
